body{
    text-align: center;
    background-color: aqua;
}

#myContent{
    display: inline-block;
    padding: 5px;
    border: solid;
    background-color: burlywood;
}

.tf{
    color: crimson;
}
